@import url("root.css");
body {
  background: #4b6cb7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #182848,
    #253356
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    100deg,
    #182848,
    #3f5a9e,
    #142546,
    #324e95
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 400% 400%;
  height: 100vh;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.container {
  padding: 10px 4rem;
  display: grid;
  gap: 10px;

  grid-template-columns: 1fr 1fr;
  height: 100%;
}
.container-box-1 {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 1rem;
  padding: 2rem 3rem;
  flex-direction: column;
}
.container-box-1 input {
  padding: 10px;
  border: 1px solid #4b6cb7;
  outline-color: #182848;
}
.container-box-1 button {
  margin: 10px;
  padding: 10px 10px;
  border-radius: 10px;
  border: 0;
  background: #253356;
  font-family: "acorn-light", sans-serif;
  color: white;
  transition: all 0.4s;
  cursor: pointer;
}
.container-box-1 p,
label,
span {
  font-family: "acorn-light", sans-serif;
  font-size: 18px;
}
.container-box-1 button:hover {
  background-color: #253356e2;
}
.container-box-2 {
  display: grid;
  background-color: white;
  border-radius: 10px;
  place-items: center;
  text-align: center;
}
.container-box-1 div h2 {
  font-size: 72px;
  color: #142546;
  line-height: 100%;
  text-align: center;
  /* color: white; */
  font-family: "acorn", sans-serif;
}
#QR-code-display {
  margin-top: 2rem;
  height: fit-content;
}
.top-text {
  /* margin-bottom: 6rem; */
  background-color: #324e95;
  padding: 7px;
  border-radius: 20px;
  color: white;
}
@media screen and (max-width: 600px) {
  .container {
    padding: 10px 1rem;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
  }
  .container-box-1{
    padding: 1rem;
  }
  .container-box-2{
    padding: 1rem;
  }
}
