*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'acorn';
    src: url('font/Acorn-Bold.otf');
}
@font-face {
    font-family: 'acorn-light';
    src: url('font/Acorn-Regular.otf');
}